:root {
  --prymary-text-color: #212121;
  --title-text-color: #2196f3;
  --ithem-text-color: #757575;
  --button-color: #2196f3;
  --hero-color: #ffffff;
  --letter-spacing: 0.03em;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.conteiner {
  width: 1200px;
  border: 2px solid tomato;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  /* outline: 2 solid red; */
}

.section {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  border: 4 solid black;
  padding-bottom: 94px;
}

.teams {
  background-color: #f5f4fa;
}

address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.link {
  text-decoration: none;
  color: var(--prymary-text-color);
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.text {
  font-family: Roboto;
  font-size: 14px;
}

/* Навигация */

header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: Raleway;
  color: #2196f3;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio {
  font-family: Raleway;
  color: #212121;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02em;
}

.nav-adress-ithem {
  font-weight: 500;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

.current {
  color: var(--title-text-color);
}

/* Шапка */
.hero-all {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

.backgraund-hero {
  background-color: #2f303a;
  padding-bottom: 200px;
  padding-top: 200px;
}

.button:hover,
.button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  min-width: 200px;
}

.button-ithem:hover,
.button-ithem:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  padding: 6px 22px;
  border: none;
}
.button-ithem {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}

/* Особенности */

.list-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features-items {
  width: 270px;
  margin-left: 30px;
  align-content: center;
}

.features-items:first-child {
  margin-left: 0;
}

.heading {
  font-size: 36px;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 94px;
  padding-bottom: 50px;
  line-height: 1.16;
  color: var(--prymary-text-color);
  letter-spacing: var(--letter-spacing);
}

.text-list {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--letter-spacing);
}

.head-list {
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
  line-height: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
/* Чем мы занимаемся */

/* .conteiner-list {
  display: flex;
  flex-wrap: wrap;
} */
.works-ithem {
  display: flex;
  justify-content: center;
}

.photo-works {
  margin-left: 30px;
}

.photo-works:first-child {
  margin-left: 0;
}

/* Наша команда */

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  text-transform: none;
  letter-spacing: var(--letter-spacing);
}

/* Подвал */

.ithem-adress {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

.logo-studio-footer {
  font-family: Raleway;
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.address-text > address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

/* За дивы сильно не ругайте
то временно чтобы фон залить и текст
был как в макете) */
.footer-backgraund {
  background-color: #2f303a;
}

/* Портфолио
Футер и Хедер одинаковые */

/* Проекты */

.ithem-progects {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.text-progects {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
